@model ImageMVC.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.StudentName)
        </dt>

        <dt>
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Age)
        </dt>

        <dt>
            @Html.LabelFor(model => model.Degree, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Degree)
        </dt>

        <dt>
            @Html.LabelFor(model => model.Marks, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Marks)
        </dt>
        <dt>
            @Html.ActionLink("Back to List", "Index")
        </dt>
    </dl>
    
</div>


    
       
   
    